@model IEnumerable<provaWeb2tt2.Models.Operario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarteraT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fonef)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fonec)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Endereco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarteraT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fonef)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fonec)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Nome }) |
            @Html.ActionLink("Details", "Details", new { id=item.Nome }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Nome })
        </td>
    </tr>
}

</table>
